.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  margin-left: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  flex-grow: 1;
  overflow-x: hidden;
}

.heading {
  margin-left: 20px;
  color: #5E5E5E;
}

.tableContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}


.employeeTable th, .employeeTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employeeTable th {
  background-color: #F7EDED;
  color: #5E5E5E;
}

.employeeTable tr:last-child td {
  border-bottom: none;
}

.totalEmployees {
  background-color: white;
  font-size: 20px;
  color: #5E5E5E;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
}

.editButton:hover {
  transform: scale(1.2);
}

.editIcon {
  width: 20px;
  height: 20px;
  fill: #000000;
  transition: fill 0.2s ease;
}

.editButton:hover .editIcon {
  fill: #5e5e5e;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-left: 5px;
}


.searchInput {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  font-size: 16px;
  transition: box-shadow 0.2s ease;
}

.searchInput:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchInput::placeholder {
  color: #aaa;
}

/* Modal Styles */
.modal {
  background: linear-gradient(135deg, #ffffff, #f2f2f2);
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border: 3px solid #ac1f21;
  animation: scaleIn 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  z-index: 100;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.4s ease;
  z-index: 99;
}

.modal h2 {
  font-size: 1.25rem;
  color: #343a40;
  margin-top: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 0.05em;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.confirmButton {
  background: linear-gradient(135deg, #ac1f21, #d32f2f);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.confirmButton:hover {
  background: linear-gradient(135deg, #d32f2f, #ac1f21);
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.confirmButton:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.cancelButton {
  background: linear-gradient(135deg, #bdc3c7, #95a5a6);
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 40px;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.cancelButton:hover {
  background: linear-gradient(135deg, #95a5a6, #7f8c8d);
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.cancelButton:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}


